/* CodeMirror customizations */

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-size: 15px;
  font-family: 'Inconsolata';
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
}

/* Main */

body {
    font-family: "Palatino Linotype",Palatino,serif;
    font-weight: 400;
    padding-top: 25px;
    background-color: #fefeee;
    color: #333;
    margin-bottom: 200px;
}

center > * {
    text-align: left;
}

center .container {
    width: 600px;
}

.container p {
    text-align: left;
    width: 100%;
    line-height: 1.4em;
}

.container textarea {
    resize: none;
    border: none;
    width: 100%;
}

button {
    outline: none;
    font-weight: bold;
    margin: 8px 0 0 0;
    background-color: white;
    border: 1px solid #aaa;
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

button:active {
    color: #55dd55;
}

.eval {
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}

code {
    font-family: 'Inconsolata';
}